
body {
    margin: 0;
    text-align: center;
    font-family:'Noto Sans', sans-serif, 'Times New Roman', Times, serif;
    color: #F1FAEE;
}

#hero {
    background-image: url("images/lufkin.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 45px 0;
    height: 16rem;
}

#place {
    background: #D7A349;
    padding: 5px 10px; 
    border-radius: 6px;
}

#fun-stuff {
    background: #8AABE5;
    padding: 5px 10px; 
    border-radius: 6px;
}

#activities {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 40px 40px;
    background-color: #F1FAEE;
    height: 16rem;
}

.activities-possible {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.activity_img {
    border-radius: 50%;
    height: 100px;
    width: 100px;  
}

p { 
    margin: 5px;
    color: #1D3557;
}

.act-title {
    color: #000018;
    text-shadow: 0px 0px black;
    
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
    font-weight: bold;
}

.guide {
    margin: 25px auto;
    width: 400px;
    display: flex;
    background-color: #A8DADC;
    border-bottom: 6px solid #1D3557;
    border-radius: 6px;
    height: 16rem;
}

#guide-box {
    padding: 20px;
    color: #1D3557;
}

#guide-img{
    width: 110px;
    margin: 15px;
    border-radius: 6px;
}

#guide-p{
    font-style: italic;
}

#guide-title {
    font-weight: 800px;
    text-shadow: 0px 0px black;
    color: #000018;
}
